.navbar {
    margin-bottom: 1em;
}

#balance {
    background-color: #dbfcbe;
    padding: 1em;
}

.table {
    margin-bottom: 0;
}

#expenses {
    background-color: #e6c5c8;
    padding: 1em;
    margin-top: 2em;
}

.addExpense {
    display: none;
}

.expenses-end {
    text-decoration: line-through;
}

#transactions {
    background-color: #d7e8fc;
    padding: 1em;
    margin-top: 2em;
}

#transactions_form {
    margin-top: 1em;
}

#approved {
    color: green;
}

.list-group-item {
    background-color: inherit;
}

/*#example {
    background-color: red;
    margin-top: 3em;
    height: 5em;
}

#exampleCollapse {
    background: green;
    height: 5em;
    margin-top: 3em;
}*/