/* global styles */
.navbar {
    margin-bottom: 1em;
}

/* new home page */
#navbar-list .nav-link{
    border: 1px solid #eeeeee;
}

/* other pages */
#balance {
    background-color: #dbfcbe;
    padding: 1em;
}

.table {
    margin-bottom: 0;
}

#expenses {
    background-color: #e6c5c8;
    padding: 1em;
    margin-top: 2em;
}

.addExpense {
    display: none;
}

.addTransaction {
    display: none;
}

.expenses-end {
    text-decoration: line-through;
}

#transactions {
    background-color: #d7e8fc;
    padding: 1em;
    margin-top: 2em;
}

#transactions_form {
    margin-top: 1em;
}

#approved {
    color: green;
}

.list-group-item {
    background-color: inherit;
}