{% extends "finance/base.html" %}

{% block header %}
<div class="row">
    <div class="col-12 text-center mt-3" id="page-header">
        <h1>Деталі рахунку {{ account.name }}</h1>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-12">
        {% if account.money or account.blocked %}
        <h2>Кошти на рахунку - {{ account.money }}</h2>
        <h3 class="text-info">З них у використанні - {{ account.blocked }}</h3>
        {% else %}
        <h2>Відомості по рахунку відсутні</h2>
        {% endif %}
        {% if transactions %}
        <table class="table">
            <tbody>
                <tr>
                    <td>Дата</td>
                    <td>Деталі</td>
                    <td>Сума</td>
                    <td>Дії</td>
                </tr>
                {% for transaction in transactions %}
                <tr {% if transaction.amount < 0 %}class="text-danger"{% elif transaction.amount > 0 %}class="text-success"{% endif %} >
                    <td>{{ transaction.date }}</td>
                    <td>{{ transaction.detail }}</td>
                    <td>{{ transaction.amount }}</td>
                    <td><a class="btn btn-sm btn-outline-danger" href="{% url 'delete_plus_transaction' transaction.id %}">Видалити</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        Ще немає руху коштів по рахунку
        {% endif %}
    </div>
</div>
{% endblock %}