{% extends "finance/base.html" %}

{% block title %}
<div class="col">
    <span class="h1">Фінансовий менеджер</span>
</div>
{% endblock title %}

{% block content %}
{% url "home" as url_home %} 
<nav class="nav nav-pills nav-justified" id="navbar-list">
    <a class="nav-item nav-link {% if not request.GET.list %}active{% endif %}" href="{{ url_home }}">Баланси</a>
    <a class=" nav-item nav-link {% if request.GET.list == 'budgets' %}active{% endif %}" href="{{ url_home }}?list=budgets">Бюджети</a>
    <a class="nav-link nav-item {% if request.GET.list == 'accounts' %}active{% endif %}" href="{{ url_home }}?list=accounts">Рахунки</a>
    <a class="nav-link nav-item {% if request.GET.list == 'remnants' %}active{% endif %}" href="{{ url_home }}?list=remnants">Залишки</a>
</nav>

<!-- add budgets button -->
{% if content.add_form == 'budgets' %}

<form class="form-inline" action="/month/add/" method="POST">
{% csrf_token %}
    <div class="input-group date" id="datetimepicker4" data-target-input="nearest">
        <input type="text" class="datetimepicker-input" data-target="#datetimepicker4"
            name="month_date" placeholder="Виберіть бюджетний місяць"/>
        <div class="input-group-append" data-target="#datetimepicker4" data-toggle="datetimepicker">
            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
        </div>
    </div>
    <input class="btn btn-success btn-sm" type="submit" value="Додати">
</form>

<!-- add accounts button -->
{% elif content.add_form == 'accounts' %}

<form class="form-inline mt-3 mb-3" action="/account/add/" method="POST">
    {% csrf_token %}
        <label class="mr-2" for="inputNameAccount">Назва рахунку:</label> 
        <input type="text" class="mr-2" id="inputNameAccount" name="name" />

        <lavel class="mr-2" for="inputKindAccount">Вид рахунку:</lavel> 
        <select class="mr-2" id="inputKindAccount" name="kind">
            <option value="cash">Готівка</option>
            <option value="bank">Банк</option>
        </select>
    <input class="btn btn-success btn-sm" type="submit" value="Додати">
</form>

{% endif %}

<!-- balances page -->
{% if not request.GET.list or request.GET.list == 'budgets' %}
{% if content.months %}
<table class="table table-hover table-responsive-lg">
    <thead class="thead-light">
        <tr>
            <th scope="col">Місяць</th>
            <th scope="col">Баланс</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        {% for month in content.months %}
        <tr>
            <td class="td-link">{{ month.name }}</td>
            <td class="td-link">{{ month.balance }}</td>
            <td class="td-link">
                <a class="btn btn-info btn-sm" href="{% if not request.GET.list %}{% url 'show_balance' month.id %}{% else %}{% url 'show_month' month.id %}{% endif %}">Деталі</a>
                {% if request.GET.list == 'budgets' %}
                <a class="btn btn-danger btn-sm" href="{% url 'delete_month' month.id %}">Видалити</a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}

    </tbody>
</table>
{% else %}
    {% if not request.GET.list %}
    <p>Балансові рахунки ще не додані</p>
    {% else %}
    <p>Незатверджені бюджети відсутні</p>
    {% endif %}
{% endif %}

<!-- accounts page -->
{% elif request.GET.list == 'accounts' %}
{% if content.accounts %}
<table class="table table-hover table-responsive-lg">
    <thead class="thead-light">
        <tr>
            <th scope="col">Назва рахунку</th>
            <th scope="col">Вид рахунку</th>
            <th scope="col">Загальні кошти</th>
            <th scope="col">Заблоковані кошти</th>
            <th scope="col"></th>
        </tr>
    </thead>

    <tbody>

        
        {% for account in content.accounts %}
        <tr>
            <td class="td-link">{{ account.name }}</td>
            <td class="td-link">{% if account.kind == "bank" %}Банківський рахунок{% elif account.kind == "cash" %}Готівка{% endif %}</td>
            <td class="td-link">{% if account.money %}{{ account.money }}{% else %}Відсутні відомості{% endif %}</td>
            <td class="td-link">{% if account.blocked %}{{ account.blocked }}{% else %}Відсутні відомості{% endif %}</td>
            <td class="td-link">
                <a class="btn btn-info btn-sm" href="{% url 'account_detail' account.id %}">Деталі</a>
                <form class="d-inline" action="{% url 'delete_account' account.id %}" method="POST">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger btn-sm" href="{% url 'delete_account' account.id %}">Видалити</button>
                </form>
            </td>
        </tr>
        {% endfor %}

    </tbody>
</table>

<div class="row mt-3 mb-5">
    <div class="col">
        <a class="btn btn-success" data-toggle="collapse" href="#collapseAddMoney" 
            role="button" aria-expanded="false" aria-controls="collapseAddMoney">
            Додати гроші на рахунок
        </a>
        <div class="collapse" id="collapseAddMoney">
            <div class="card card-body">
                <form action="{% url 'add_plus_transaction' %}" 
                    method="POST" class="form-inline ml-2">
                    {% csrf_token %}
                    <div class="input-group date
                        data-target-input datetimepicker2" data-target-input="nearest">
                        <input type="text" class="form-control datetimepicker-input" data-target=".datetimepicker2" name="date"
                        placeholder="Введіть дату нарахування"/>
                        <div class="input-group-append" data-target=".datetimepicker2" data-toggle="datetimepicker">
                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                        </div>
                    </div>

                    <input class="form-control ml-2" type="number" name="money"
                        placeholder="Введіть суму">

                    <select class="form-control ml-2" id="account_goal" name="account_goal">
                        <option value="">Виберіть рахунок</option>
                        {% for account in content.accounts %}
                            <option value="{{ account.id }}">
                                {{ account.name }} ({{ account.money }})
                            </option>
                        {% endfor %}
                    </select>

                    <input type="text" class="form-control ml-2 w-25" name="detail" placeholder="Введіть деталі нарахування" />

                    <input type="submit" class="btn btn-success btn-sm ml-2" value="Додати">
                </form>
            </div>
        </div>
    </div>
</div>
{% else %}
<p>Рахунки ще не додані</p>
{% endif %}

<!-- remains page -->

{% elif request.GET.list == 'remnants' %}
{% if content.remnants %}
<table class="table table-hover table-responsive-lg">
    <thead class="thead-light">
        <tr>
            <th scope="col">Рахунок</th>
            <th scope="col">Місяць</th>
            <th scope="col">Передбачені кошти</th>
            <th scope="col">Залишок</th>
            <th scope="col"></th>
        </tr>
    </thead>

    <tbody>

        
        {% for score in content.remnants %}
        <tr>
            <td class="td-link">{{ score.account.name }}</td>
            <td class="td-link">{{ score.month.name }}</td>
            <td class="td-link">{{ score.amount }}</td>
            <td class="td-link">{{ score.remainder }}</td>
            <td class="td-link">
                <a class="btn btn-info btn-sm" href="#">Деталі</a>
            </td>
        </tr>
        {% endfor %}

    </tbody>
</table>
{% else %}
<p>Залишки ще не додані</p>
{% endif %}

{% endif %}


{% endblock content %}