{% extends "finance/base.html" %}
        
{% block header %}
<div class="row">
    <div class="col-12 text-center ">
        <h1>Project Home Page</h1>
        <p>Here must be a main info</p>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-4">
        <h2>Додати місяць</h2>
        <form action="/month/add/" method="POST">
            {% csrf_token %}
            {{ form }}
            <input class="btn btn-success btn-sm" type="submit" value="Додати">
        </form>
    </div>
    <div class="col-4">
        <h2>Додати рахунок</h2>
        <form action="/account/add/" method="POST">
            {% csrf_token %}
            {{ form_account }}
            <input class="btn btn-success btn-sm" type="submit" value="Додати">
        </form>
    </div>
</div>
<div class="row">
    <div class="col-4">
        {% if content.months %}
            {% for month in content.months %}
                <p>{{ month }} <a class="btn btn-info btn-sm" href="/month/{{ month.id }}/">Деталі</a> <a class="btn btn-danger btn-sm" href="/month/{{ month.id }}/delete">Видалити</a></p>
            {% endfor %}
        {% else %}
            <p>Ще немає місяців у базі</p>
        {% endif %}
    </div>
    <div class="col-4">
        {% if content.accounts %}
            {% for account in content.accounts %}
                <p>{{ account }}</p>
            {% endfor %}
        {% else %}
            <p>Ще немає рахунків у базі</p>
        {% endif %}
    </div>
    <div class="col-4">
        <h2>Залишки</h2>
        {% if content.scores %}
            {% for score in content.scores %}
                <p>{{ score }}</p>
            {% endfor %}
        {% else %}
            <p>Ще немає залишків</p>
        {% endif %}
    </div>
</div>

{% endblock %}