{% extends "finance/base.html" %}

{% load i18n %}
        
{% block header %}
<div class="row">
    <div class="col-12 text-center ">
        <h1>Project Home Page</h1>
        <p>Here must be a main info</p>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="row mb-5">
    <div class="col-6">
        <h2>Місячні балансові рахунки</h2>
        {% if content.months_approved %}
        {% for month in content.months_approved %}
        <p>{{ month.name }} <a class="btn btn-info btn-sm" href="{% url 'show_balance' month.id %}">Деталі</a>
        {% endfor %}
        {% else %}
        Ні один баланс ще не затверджений
        {% endif %}
    </div>
    <div class="col-6">
        <h2>Місячні бюджети</h2>
        {% if content.months_disapproved %}
        {% for month in content.months_disapproved %}
            <p>{{ month.name }} <a class="btn btn-info btn-sm" href="{% url 'show_month' month.id %}">Деталі</a> <a class="btn btn-danger btn-sm" href="{% url 'delete_month' month.id %}">Видалити</a></p>
        {% endfor %}
        {% else %}
        Ні один бюджет ще не доданий
        {% endif %}
        <form action="/month/add/" method="POST">
            {% csrf_token %}
            {{ form }}
            <div class="input-group date" id="datetimepicker4" data-target-input="nearest">
                <input type="text" class="datetimepicker-input" data-target="#datetimepicker4"
                    name="month_date" laceholder="Виберіть бюджетний місяць"/>
                <div class="input-group-append" data-target="#datetimepicker4" data-toggle="datetimepicker">
                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                </div>
            </div>
            <input class="btn btn-success btn-sm" type="submit" value="Додати">
        </form>
    </div>
</div>
<div class="row">
    <div class="col-6">
        <h2>Додати рахунок</h2>
        <form action="/account/add/" method="POST">
            {% csrf_token %}
            {{ form_account }}
            <input class="btn btn-success btn-sm" type="submit" value="Додати">
        </form>
        {% if content.accounts %}
            {% for account in content.accounts %}
                <p>{{ account }}</p>
            {% endfor %}
        {% else %}
            <p>Ще немає рахунків у базі</p>
        {% endif %}
    </div>
    <div class="col-6">
        <h2>Залишки</h2>
        {% if content.scores %}
            {% for score in content.scores %}
                <p>{{ score }}</p>
            {% endfor %}
        {% else %}
            <p>Ще немає залишків</p>
        {% endif %}
    </div>
</div>

{% endblock %}