{% extends "finance/base.html" %}

{% block header %}
<div class="row">
    <div class="col-12 text-center mt-3" id="page-header">
        <h1>Баланс за {{ month.name }}</h1>
    </div>
</div>
{% endblock %}

{% block content %}

<p id="month_date" hidden>{{ month.date|date:"Y-m-d" }}</p>

<!-- Наявні кошти -->
<div class="row">
    <div class="col-12">
        <div id="balance">
            <h3>Наявні кошти</h3>
            {% if month.balance %}
            <ul class="list-group">
                {% for score in scores %}
                {% if score.remainder > 0 %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <h5>
                        {{ score.account.name }}
                        <a class="btn btn-outline-info btn-sm addTransaction" 
                            data-toggle="collapse"
                            href="#collapseAddTransAccount{{ score.id }}"
                            role="button" aria-expanded="true" 
                            aria-controls="collapseAddTransAccount{{ score.id }}">
                            Перевести на інший рахунок
                        </a>
                    </h5>
                    
                    <h5>
                        <span class="badge badge-info badge-pill">{{ score.remainder }}</span>
                    </h5>
                </li>
                <div class="collapse" id="collapseAddTransAccount{{ score.id }}">
                    <form action="{% url 'add_transaction' month.id %}" method="POST" 
                        class="form-inline">
                        {% csrf_token %}
                        <input type="hidden" name="score_source" 
                            value="{{ score.id }}">
                        <div class="form-group ml-2">
                            <div class="input-group date
                                data-target-input datetimepicker" data-target-input="nearest">
                                <input type="text" class="form-control datetimepicker-input" data-target=".datetimepicker" 
                                name="date"/>
                                <div class="input-group-append" data-target=".datetimepicker" data-toggle="datetimepicker">
                                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group ml-2">
                            <label for="{{ form_transaction.amount.id_for_label }}" 
                                class="mr-2">Перевести</label>
                            {{ form_transaction.amount }}
                        </div>
                        <div class="form-group ml-2">
                            <label for="goal" class="mr-2">на рахунок</label>
                            <select id="goal" name="score_goal">
                                <option value="">----</option>
                                {% for score_goal in scores %}
                                    {% if score_goal.id != score.id %}
                                        <option value="{{ score_goal.id }}">{{ score_goal.account.name }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                        <input type="submit" class="btn btn-primary btn-sm ml-2" value="Підтвердити">
                    </form>
                </div>
                {% endif %}
                {% endfor %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <h4>Всього на рахунках</h4>
                    <h4><span class="badge badge-info badge-pill">{{ month.balance }}</span></h4>
                </li>
            </ul>

            {% else %}
            <strong>Нажаль гроші скінчились</strong>
            {% endif %}
        </div>
    </div>
</div>

<!-- Витрати -->
<div class="row">
    <div class="col-12">
        <div id="expenses">
            <h3>Витрати</h3>
            <div class="list-group">
            {% for planned_expense in planned_expenses %}
                <div class="list-group-item">

                    <span {% if planned_expense.remainder == 0 %}class="expenses-end"{% endif %}>
                        {% if planned_expense.expenses %}
                            <a data-toggle="collapse" role="button" aria-expanded="false"
                                href="#collapseExpensesList{{ planned_expense.id }}" 
                                aria-controls="collapseExpensesList{{ planned_expense.id }}">
                                {{ planned_expense.title }} - {{ planned_expense.amount }}
                            </a>
                        {% else %}
                            {{ planned_expense.title }} - {{ planned_expense.amount }}
                        {% endif %}
                    </span>

                    {% if planned_expense.remainder != planned_expense.amount and planned_expense.remainder > 0 %}
                        (Залишок - {{ planned_expense.remainder }})
                    {% endif %}

                    {% if planned_expense.remainder > 0 or planned_expense.remainder is None %}
                        <a class="btn btn-outline-primary btn-sm addExpense" data-toggle="collapse"
                            href="#collapseAddExpense{{ planned_expense.id }}" 
                            role="button" aria-expanded="false" 
                            aria-controls="collapseAddExpense{{ planned_expense.id }}">Списати</a>
                    {% endif %}

                    {% if planned_expense.expenses %}
                        <div class="collapse" id="collapseExpensesList{{ planned_expense.id }}">
                            <ul class="list-group">
                            {% for expense in planned_expense.expenses %}
                                <li class="list-group-item {% if planned_expense.remainder == 0 %}expenses-end{% endif %}">
                                    {{ expense.date|date:"d.m" }} - {{ expense.amount }}грн 
                                    {% if expense.detail %}
                                    ({{ expense.detail }})
                                    {% endif %}
                                </li>
                            {% endfor %}
                            </ul>
                        </div>
                    {% endif %}

                    {% if planned_expense.remainder > 0 or planned_expense.remainder is None %}
                    <div class="mt-2">
                        <div class="collapse" id="collapseAddExpense{{ planned_expense.id }}">
                            <form action="{% url 'add_transaction' month.id %}" method="POST" 
                                class="form-inline">
                                {% csrf_token %}
                                <input type="hidden" name="planned_expense"
                                    value="{{ planned_expense.id }}">
                                <div class="form-group ml-2">
                                    <div class="input-group date
                                        data-target-input datetimepicker" data-target-input="nearest">
                                        <input type="text" class="form-control datetimepicker-input" data-target=".datetimepicker" 
                                        name="date"/>
                                        <div class="input-group-append" data-target=".datetimepicker" data-toggle="datetimepicker">
                                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group ml-2">
                                    {{ form_transaction.amount }}
                                </div>
                                <div class="form-group ml-2">
                                    <select id="source" name="score_source">
                                        <option value="">Виберіть рахунок</option>
                                        {% for score in scores %}
                                            {% if score.remainder > 0 %}
                                            <option value="{{ score.id }}">
                                                {{ score.account.name }}
                                            </option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="form-group ml-2">
                                    {{ form_transaction.detail }}
                                </div>
                                <input type="submit" class="btn btn-success btn-sm ml-2" value="Додати">
                            </form>
                        </div>
                    </div>
                    {% endif %}
                </div>
            {% endfor %}
            </div>
        </div>
    </div>
</div>

<!-- Транзакції -->
<div class="row mb-5">
    <div class="col-12">
        <div id="transactions">
            <h3>Транзакції</h3>
            {% if transactions %}
                {% for transaction in transactions %}
                    <p>
                        {{ transaction.date|date:"d.m.y" }} {{ transaction }} - {{ transaction.amount }}
                        <a class="btn btn-outline-danger btn-sm" href="{% url 'delete_transaction' month.id transaction.id %}">Видалити</a>
                    </p>

                {% endfor %}
            {% else %}
                <p>В даному місяці ще немає транзакцій</p>
            {% endif %}
        </div>
    </div>
</div>
<div class="row mb-5">
{% if not transactions %}
<form action="{% url 'delete_month' month.id %}" method="POST">
    {% csrf_token %}
    <input type="submit" class="btn btn-danger" value="Видалити балансовий розрахунок">
</form>
{% endif %}
</div>


<!-- <div class="row">
    <div class="col" id="example">
        <a class="btn btn-outline-info btn-sm" data-toggle="collapse" 
            href="#exampleCollapse" role="button" aria-expanded="false" aria-controls="exampleCollapse">Приклад</a>
    </div>
    <div class="col-5 collapse" id="exampleCollapse">
        <p>Examplse</p>
    </div>
</div>
 -->



{% endblock %}
