{% extends "finance/base.html" %}

{% block header %}
<div class="row">
    <div class="col-12 text-center mt-3" id="page-header">
        <h1>Збереження</h1>
    </div>
</div>
{% endblock %}

{% block content %}

<div class="row mb-2">
    <div class="col-12">
        <form action="{% url 'saving_total_add' %}" method="POST">
            {% csrf_token %}
            Додати збереження: 
            <input type="text" name="title">
            <button type="submit" value="add"
                class="btn btn-sm btn-success">Додати</button>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-12">
        {% if savings %}
        <table class="table table-bordered table-hover" id="saving-table">
            <thead class="thead-light">
                <tr>
                    <th>Цільове використання</th>
                    <th class="text-center">Загальна сума</th>
                    {% for account in accounts %}
                    <th class="text-center">
                        {{ account.name }}</br>
                        {% for key, value in account.TYPE_OF_ACCOUNT %}
                        {% if account.kind == key %}{{ value }}{% endif %}
                        {% endfor %}
                    </th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for saving in savings %}
                <tr>
                    <th>{{ saving.title }} <a class="btn btn-sm btn-outline-danger saving-delete"
            href="{% url 'saving_total_delete' saving.id %}">X</a></th>
                    <td class="text-center">{{ saving.get_total_amount }}</td>
                    {% for account in accounts %}
                    <td class="text-center">
                        {% if account.get_savings %}
                            {% for save in account.get_savings %} 
                                {% if save.saving_total.id == saving.id %}
                                {{ save.amount }} 
                                <a class="btn btn-outline-info btn-sm addMoney"data-toggle="collapse"
                            href="#collapseMoneyTransfer{{ save.id }}" role="button" aria-expanded="false" aria-controls="collapseMoneyTransfer{{ save.id }}">Змінити</a> 
                                {% endif %}
                            {% endfor %}
                        {% else %}
                        0
                        {% endif %}
                    </td>
                    {% endfor %}
                </tr>
                {% endfor %}
                <tr class="table-success">
                    <th colspan="2">Всього збережень на рахунку</th>
                    {% for account in accounts %}
                    <th class="text-center">{{ account.get_total_saving_amount }}</th>
                    {% endfor %}
                </tr>
                <tr>
                    <td colspan="2">Заблоковані кошти</td>
                    {% for account in accounts %}
                    <td class="text-center">{% if account.blocked %}{{ account.blocked }}{% else %}0{% endif %}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td colspan="2">Невикористані залишки</td>
                    {% for account in accounts %}
                    <td class="{% if account.get_saving_remainder < 0 %}bg-danger{% endif %} text-center">{{ account.get_saving_remainder }}</td>
                    {% endfor %}
                </tr>
            </tbody>
        </table>
        {% else %}
        Збереження ще не додані
        {% endif %}
    </div>
</div>

<div class="row mt-2">
    <div class="col-12">
        <h2>Всього збережень на рахунках - {{ total_saving }}</h2>
    </div>
</div>

{% for save in savings_p %}
<div class="row mt-2 collapse" id="collapseMoneyTransfer{{ save.id }}">
    <div class="col-12">
        <a class="btn btn-outline-success btn-sm" href="{% url 'saving_transfer' save.id 'add' %}">Зарахувати кошти</a>
        <a class="btn btn-outline-warning btn-sm" href="{% url 'saving_transfer' save.id 'remove' %}">Зняти кошти</a>
        <a class="btn btn-outline-info btn-sm" href="{% url 'saving_transfer' save.id 'trans' %}">Перенести кошти</a>
    </div>
</div>
{% endfor %}

{% endblock %}