{% extends "finance/base.html" %}

{% block header %}
<div class="row">
    <div class="col-12 text-center mt-3" id="page-header">
        <h1>Збереження</h1>
    </div>
</div>
{% endblock %}

{% block content %}

<div class="row mb-2">
    <div class="col-12">
        <form action="{% url 'saving_total_add' %}" method="POST">
            {% csrf_token %}
            Додати збереження: 
            <input type="text" name="title">
            <button type="submit" value="add"
                class="btn btn-sm btn-success">Додати</button>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-12">
        {% if savings %}
        <table class="table table-bordered" id="saving-table">
            <thead class="thead-light">
                <tr>
                    <th>Цільове використання</th>
                    <th>Загальна сума</th>
                    {% for account in accounts %}
                    <th>
                        {{ account.name }}</br>
                        {{ account.kind }}
                    </th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for saving in savings %}
                <tr>
                    <th>{{ saving.title }} <a class="btn btn-sm btn-outline-danger"
            href="{% url 'saving_total_delete' saving.id %}">X</a></th>
                    <td>{{ saving.get_total_amount }}</td>
                    {% for account in accounts %}
                    <td>
                        {% if account.get_savings %}
                            {% for save in account.get_savings %} 
                                {% if save.saving_total.id == saving.id %}
                                {{ save.amount }} 
                                <a class="btn btn-outline-success btn-sm addMoney"data-toggle="collapse"
                            href="#collapseAddMoney{{ save.id }}" role="button" aria-expanded="false" aria-controls="collapseAddMoney{{ save.id }}">Додати</a>  
                                {% endif %}
                            {% endfor %}
                        {% else %}
                        0
                        {% endif %}
                    </td>
                    {% endfor %}
                </tr>
                {% endfor %}
                <tr>
                    <th>Всього по рахунку</th>
                    <td></td>
                    {% for account in accounts %}
                    <th>{{ account.get_total_saving_amount }}</th>
                    {% endfor %}
                </tr>
                <tr>
                    <td>Заблоковані кошти</td>
                    <td></td>
                    {% for account in accounts %}
                    <td>{% if account.blocked %}{{ account.blocked }}{% else %}0{% endif %}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>Невикористані залишки</td>
                    <td></td>
                    {% for account in accounts %}
                    <td>{{ account.get_saving_remainder }}</td>
                    {% endfor %}
                </tr>
            </tbody>
        </table>
        {% else %}
        Збереження ще не додані
        {% endif %}
    </div>
</div>

{% for save in savings_p %}
<div class="row mt-2 collapse" id="collapseAddMoney{{ save.id }}">
    <div class="col-12">
        <form action="{% url 'saving_add' %}" method="POST">
            {% csrf_token %}
            Додати гроші до збереження {{ save.saving_total.title }} на рахунок {{ save.account.name }}
            <input type="hidden" name="saving_total" value="{{ save.saving_total.id }}">
            <input type="hidden" name="account" value="{{ save.account.id }}">
            <input type="number" name="amount" />
            <button type="submit" value="add"
                class="btn btn-sm btn-success">Додати</button>
            <a class="btn btn-sm btn-danger"
            href="{% url 'saving_delete' save.id %}">Видалити збереження</a>
        </form>
    </div>
</div>
{% endfor %}

{% endblock %}